<mat-toolbar color="primary">
	<mat-toolbar-row>
		<span>Mensagens de {{cliente.Nome}}</span>
	</mat-toolbar-row>
</mat-toolbar>

<div style="margin:32px;">

	<button mat-raised-button color="primary" (click)="clientes()" style="margin-left:16px;">Clientes</button>
	<button mat-raised-button color="primary" (click)="novaMensagem()" style="margin-left:16px;">Nova Mensagem</button>
	<button mat-raised-button color="primary" (click)="novoPedido()" style="margin-left:16px;">Novo Pedido</button>

	<br />

	<mat-nav-list>
		<mat-list-item *ngFor="let mensagem of mensagens">
			<mat-icon>message</mat-icon>
			{{ mensagem.DataHora | date:'medium'}}
			<br />
			{{ mensagem.Descricao }}
		</mat-list-item>
	</mat-nav-list>

</div>