<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Produtos</span>
    </mat-toolbar-row>
</mat-toolbar>

<div style="margin:32px;">

    <button mat-raised-button color="primary" (click)="clientes()">Clientes</button>
    <button mat-raised-button color="primary" (click)="novoProduto()" style="margin-left:16px;">Novo Produto</button>

    <br />

    <mat-nav-list>
        <mat-list-item *ngFor="let produto of produtos">
            <mat-icon>inbox</mat-icon>
            {{produto.Descricao}}
        </mat-list-item>
    </mat-nav-list>
</div>

